/* * { border : 1px solid blue } */

.container {  display: grid;
  grid-template-columns: 0.7fr 1.6fr 0.7fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  grid-template-areas:
    "logo . toggle"
    ". search ."
    ". . .";
  background-color: #1d1e22;
  color: #ffffff;
  width:100vw;
  height:100vh;
}

.logo { grid-area: logo; 
  text-align: center;
  padding-top: 5%;
  padding-left: 20%;;
}

.search {  display: grid;
  grid-area: search;
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center; 
}

.toggle {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "switch switch ."
    "explain explain explain"
    "explain explain explain";
  grid-area: toggle;
}

.explain { grid-area: explain; 
  border-radius: 10px;
  background-color: #F77F00;
  /* padding: 10%; */
  padding: 15px;
  text-align: center;
  font-size: calc(6px + 1vmin);
  color: #003049;
}

.my-buttons {
  background-color: #003049;
  border-radius: 5px;
  border: none;
  margin: 2%;
  padding: 3%;
  color: #EAE2B7;
  cursor: pointer;
  font-size: calc(6px + 1vmin);
}
.switch { grid-area: switch; 
}

h4 {
  font-size: calc(10px + 2vmin);
}

.search-bar {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 30px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color:#EAE2B7;
}

::placeholder{
  color:#003049;
}

.search-bar button {
  width: 25px;
  border: 0px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #FCBF49;
  cursor: pointer;
}

.search-type {
  font-size: calc(8px + 2vmin);
  padding-left: 10px;
}

#search-icon {
  padding-top: 4px;
  font-size: calc(8px + 3vmin);
}

.container2 {
  display: grid; 
  grid-template-columns: 0.6fr 1.7fr 0.7fr; 
  grid-template-rows: 0.5fr 1.5fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "logo . toggle"
    ". main-info options"
    ". extra-info ."; 
  justify-content: center;
  background-color: #1d1e22;
  color: #ffffff;
  width:100vw;
  height:100vh; 
}

.main-info { grid-area: main-info; 
  display: inline-grid;
  justify-items: center;
}

.main-info h4 {
  margin: 0px;
  padding-bottom: 0px;
  font-size: calc(4px + 2vmin);
  text-align: center;
  color: #EAE2B7;
}

.current {
  width: 100%;
  display: inline-grid;
  grid-auto-flow: column;
}

.temp {
  text-align: right;
  margin:0px;
  font-size: calc(80px + 2vmin);
  display: grid;
  align-content: center;
}

.details {
  margin: 0px;
  text-align: left;
  font-size: calc(10px + 1vmin);
  display: grid;
  align-content: end;
}

.image {
  font-size: calc(80px + 2vmin);
}

.description {
  margin: 0px;
}

.extra-info { grid-area: extra-info;
display: inline-grid; 
margin:10%;
padding:10px;
margin-top: 5px;
border-radius: 10px;
text-align: left;
background-color: #F77F00;
color:#003049
}

h3 {
  color:#D62828;
  font-size: 16px;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.weather-icons {
  font-size: calc(4px + 6vmin);
}

.weather-icons td {
  padding:0px;
}

.key {
  text-align: center;
}

.options { grid-area: options; }

.again {
  color: #EAE2B7;
}

#redo-icon, #celsius-icon, #fahrenheit-icon {
  cursor: pointer;
}

#redo-icon:hover, #celsius-icon:hover, #fahrenheit-icon:hover {
  color: #D62828;
}


.unit {
  font-size: calc(8px + 4vmin);
}

.selected {
  color: #F77F00;
}

/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
